div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.container h1 {
    color: cornflowerblue;
}

div.container table {
    background-color: darkkhaki;
    border-collapse: collapse;
}

div.container table tr th,
td {
    color: green;
    padding: 10px;
    border: 1px solid black;
}

div.sl-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

span.title {
    margin-block-end: -10px;
    background-color: darkkhaki;
    z-index: 2;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    color: darkred;
    font-style: italic;
}

div.fl-td {
    display: flex;
    justify-content: center;
}

div.content {
    border: 2px groove darkred;
    padding-block-end: 10px;
    padding-block-start: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

div.content span {
    vertical-align: middle;
}

div.sl-container input {
    width: 5rem;
}

td > input[type="text"],
input[type="tel"],
textarea {
    display: block;
    width: 100%;
}
