body {
    display: flex;
    justify-content: center;
}

div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.container h1 {
    color: brown;
}

table {
    border-collapse: collapse;
    background-color: aquamarine;
}

table p {
    margin-block-start: 0;
    margin-block-end: 0;
    color: blue;
}

table tr th,
td {
    border: 1px solid black;
}